:root {
  --font--size--large: 48px;
  --font--size--medium: 26px;
  --font--size--small: 18px;
}

* {
  list-style: none;
  font-family: Arial;
}
button:hover {
  cursor: pointer;
}

/* <-- nav --> */

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-weight: bold;
}
.nav_bar button {
  padding: 8px 16px;
  border-radius: 15px;
  font-weight: bold;
}
.login ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location {
  margin-right: 18px;
}
.login li {
  display: flex;
  align-self: center;
}
.login img {
  margin: 0 16px;
  width: 25px;
  height: 25px;
}
.signin {
  background-color: white;
  border: solid black 1px;
}
.join {
  background-color: black;
  border: solid black 1px;
  color: white;
  margin-right: 24px;
}

.logo_Option {
  display: flex;
  align-items: center;
}
.logo :hover {
  cursor: pointer;
}
.option {
  font-weight: bold;
}
.option li:hover {
  cursor: pointer;
  color: green;
}
.logo {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}
.logo img {
  width: 80px;
  height: 50px;
}
.login .location:hover {
  cursor: pointer;
  color: green;
}
.loc_img:hover {
  color: green;
}

.login .signin:hover {
  cursor: pointer;
  background-color: lightblue;
}
.login .join:hover {
  cursor: pointer;
  background-color: darkgray;
}

ul {
  display: flex;
}
li {
  margin: 12px 8px;
}

/* <-- main contents--> */

.main_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advertisement {
  width: 90%;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 24px 0;
}
.advertisement a {
  color: white;
}
.advertisement h1 {
  padding: 0;
  margin: 12px 12px;
  font-size: var(--font--size--large);
}
.advertisement span {
  text-align: center;
  width: 60%;
  font-size: var(--font--size--medium);
}
.support_community {
  display: flex;
  margin: 24px 0;
  width: 90%;
  background-color: crimson;
  color: white;
}

.comm_descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  text-align: center;
}

.comm_descriptions h1 {
  font-size: var(--font--size--large);
}

.comm_descriptions span {
  margin: 12px 12px;
  font-size: var(--font--size--medium);
  width: 80%;
}
.comm_descriptions button {
  margin: 18px 0;
  border: solid white 1px;
  border-radius: 15px;
  background-color: crimson;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: var(--font--size--small);
}
.comm_descriptions button:hover {
  background-color: rgb(212, 43, 77);
}
.comm_img {
  flex-basis: 50%;
}
.comm_img img {
  width: 100%;
  height: 100%;
}
.new_drink {
  background-color: crimson;
  width: 90%;
  height: 50%;
  display: flex;
}
.drink_description {
  color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.drink_description span {
  margin: 12px 12px;
  font-size: var(--font--size--medium);
  width: 80%;
}
.drink_img {
  flex-basis: 50%;
}

.drink_img img {
  width: 100%;
  height: 100%;
}
.drink_description button {
  margin: 18px 0;
  border: solid white 1px;
  border-radius: 15px;
  background-color: crimson;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: var(--font--size--small);
}
.drink_description button:hover {
  background-color: rgb(212, 43, 77);
}
.new_food {
  background-color: green;
  width: 90%;
  height: 50%;
  display: flex;
  margin: 24px 0;
}
.food_description {
  color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.food_description span {
  margin: 12px 12px;
  font-size: var(--font--size--medium);
  width: 80%;
}
.food_img {
  flex-basis: 50%;
}

.food_img img {
  width: 100%;
  height: 100%;
}
.food_description button {
  margin: 18px 0;
  border: solid white 1px;
  border-radius: 15px;
  background-color: green;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: var(--font--size--small);
}
.food_description button:hover {
  background-color: rgb(30, 154, 30);
}
.partnership {
  background-color: darkgreen;
  width: 90%;
  height: 50%;
  display: flex;
}
.partnership_description {
  color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.partnership_description span {
  margin: 12px 12px;
  font-size: var(--font--size--medium);
  width: 80%;
}
.partnership_img {
  flex-basis: 50%;
}

.partnership_img img {
  width: 100%;
  height: 100%;
}
.partnership_description button {
  margin: 18px 0;
  border: solid white 1px;
  border-radius: 15px;
  background-color: darkgreen;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: var(--font--size--small);
}
.partnership_description button:hover {
  background-color: rgb(4, 138, 4);
}
.Apple_Music {
  background-color: crimson;
  width: 90%;
  height: 50%;
  display: flex;
  margin: 24px 0;
}
.App_description {
  color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App_description span {
  margin: 12px 12px;
  font-size: var(--font--size--medium);
  width: 80%;
}
.app_img {
  flex-basis: 50%;
}

.app_img img {
  width: 100%;
  height: 100%;
}
.App_description button {
  margin: 18px 0;
  border: solid white 1px;
  border-radius: 15px;
  background-color: crimson;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  font-size: var(--font--size--small);
}
.App_description button:hover {
  background-color: rgb(212, 43, 77);
}

/* <--contents footer--> */

.contents_footer {
  width: 100%;
  display: flex;
  border-top: solid rgba(0, 0, 0, 0.2) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}
.contents_footer div {
  margin: 24px 0;
  width: 200px;
  font-weight: bold;
  font-size: var(--font--size--small);
}

.contents_footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align:start;
  font-size: 16px;
  font-weight: 100;
}
.contents_footer li {
  margin: 18px 0;
  color: lightslategray;
}
.reward {
  text-align: center;
  font-size: 14px;
}

.reward a {
  color: black;
}

.contents_footer li:hover {
  cursor: pointer;
  color: black;
}

/* <-- footer --> */

.share_icons {
  margin: 24px 0px;
}
.share_icons ul {
  margin: 0 12px;
  padding: 0px 12px;
}

.share_icons img {
  width: 30px;
  height: 30px;
}
.share_icons li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Public {
  display: flex;
}
.Public ul {
  margin: 0 12px;
  padding: 0 12px;
}
.Public li {
  padding-right: 24px;
  border-right: solid black 1px;
}
.Public li:last-child {
  border: none;
}
.Public li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer p {
  align-items: center;
  font-size: 14px;
  color: lightslategray;
  padding: 0px 12px;
  margin: 12px 12px;
  padding-bottom: 24px;
}

.menu {
  display: none;
}

.hidden{
  display: none;
}
.slide_opt{
  justify-content: start;
}
.slide_opt img{
  display: none;
}

@media screen and (max-width: 768px) {
  
  :root {
    --font--size--large: 36px;
    --font--size--medium: 24px;
    --font--size--small: 12px;
  }
  .body{
    background-color: black;
  }

  .side_bar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: whitesmoke;
    width: 70%;
    height: 100%;
  }
 
  .login{
    display: none;
  }
  .option{
    display: none;
  }
  .side_menu{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
  }
  .side_menu img{
    width: 15px;
    height: 15px;
  }
  
  .side_login ul {
    width: 70%;
    border-top: rgb(140, 138, 139) solid 1.5px;
    display: flex;
    padding: 8px 40px;
  }
  .side_location {
   
    margin: 0 40px;
  }
  .side_login li {
    display: flex;
    align-self: center;
  }
  .side_login img {
    margin: 0 16px;
    width: 25px;
    height: 25px;
  }
  .side_signin {
    background-color: white;
    border: solid black 1px;
  }
  .side_join {
    background-color: black;
    border: solid black 1px;
    color: white;
    margin-right: 24px;
  }
  .side_option {
    width: 100%;
    font-weight: bold;
  }
  .side_option ul{
    display: flex;
    flex-direction: column;
  }
  .side_option li{
    padding: 12px 0;
  }
  .side_option li:hover {
    cursor: pointer;
    color: green;
  }
  
  .side_login .side_location:hover {
    cursor: pointer;
    color: green;
  }
  .side_loc_img:hover {
    color: green;
  }
  
  .side_login .side_signin:hover {
    cursor: pointer;
    background-color: lightblue;
  }
  .side_login .side_join:hover {
    cursor: pointer;
    background-color: darkgray;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu:hover {
    cursor: pointer;
  }
  .menu button {
    position: absolute;
    right: 15px;
    border: none;
    background: none;
  }
  .menu img {
    width: 20px;
    height: 20px;
  }
  .support_community {
    display: flex;
    flex-direction: column-reverse;
  }
  .new_drink {
    display: flex;
    flex-direction: column;
  }
  .new_food {
    display: flex;
    flex-direction: column-reverse;
  }
  .partnership {
    display: flex;
    flex-direction: column;
  }
  .Apple_Music {
    display: flex;
    flex-direction: column-reverse;
  }

  .Public ul {
    display: flex;
    flex-direction: column;
  }
  .Public li {
    border: none;
  }
  .side_bar.active{
    display: flex;
    animation: slide 2s;
  }
  .contents_footer{
    flex-direction: column;   
    
  }
  .contents_footer div{
    width: 100%;
    margin: 0;
  }
  .slide_opt{
    display: flex;
    justify-content: space-between;
   
  }
  .slide_opt img{
    display: block;
    width: 20px;
    height: 20px;
  }
  .slide_opt img:hover{
    cursor: pointer;
  }
  .contents_footer ul{
    align-items: flex-start;
  }
  .About_contents li{
    display: none;
  }
  .About_contents li.active{
    display: flex;
  }
  .Career_contents li{
    display: none;
  }
  .Career_contents li.active{
    display: flex;
  }
  .Social_contents li{
    display: none;
  }
  .Social_contents li.active{
    display: flex;
  }
  .Business_contents li{
    display: none;
  }
  .Business_contents li.active{
    display: flex;
  }
  .OnP_contents li{
    display: none;
  }
  .OnP_contents li.active{
    display: flex;
  }
 
    
}

@keyframes slide{
  from{
    right:-70%;
  }
  to{
    right: 0;
  }
}
